# Dependencias
node_modules/
dist/
build/

# Secretos y configuración
.env
secrets/
*.pem
*.key

# Logs y basura del sistema
*.log
.DS_Store
.npm/

# Temporales
tmp/
HEAD
actions-runner/
node_modules/
functions/node_modules/

2877007051d83c74d718d03fa4b65da0aaf594f1
